<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Code for Using CSS with Flask Found at https://stackoverflow.com/questions/39579666/how-to-set-background-image-on-flask-templates-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="text" style="background-image: url('../static/img/mars.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <section class="container jumbotron text-center" style="background-color:black;">
        <div class="row">
            <div class="col-md-4">
                <img src="../static/img/ares_action.jpg">
            </div>
            <div class="col-md-4">
                <h1 style="font-size: 50px;">Mission to Mars</h1>
                <br>
                <!--Nelson helped me with this button.-->
                <button type="button" onclick="window.location.href='/scrape';" style="color: black;">Scrape</button>
            </div>
            <div class="col-md-4">
                <img src="../static/img/ares_pose.jpg">
            </div>
        </div>

    </section>
    <div align="center">
        <!--Mars Title & Paragraph-->
        <h1>Latest Mars News</h1>
        <h3>{{mars_listings1.title}}</h3>
        <p>{{mars_listings1.paragraph}}</p>
    </div>
    <br>
    <br>
    <section>
        <!--Mars Featured Image, Mars Tweet, & Mars Facts-->
        <h1 align="left">Featured Mars Image</h1>
        <h3 align="right">Current Weather on Mars</h3>
        <div align="right" style="position: absolute; border-style: solid; border-width: 2px; border-color: gray; right: 20px; height: auto; width: 400px;">{{mars_listings1.mars_tweet}}</div>
        <br>
        <img align="left" src="{{ mars_listings1.featured_image }}">
        <br>
        <br>
        <br>
        <h3 align="right">Mars Facts</h3>
        <!--Nelson helped me with the safe function-->
        <div align="right">{{mars_listings1.mars_facts | safe}}</div>
    </section>
    <section class="container">
        <!-- Mars Hemispheres -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" align="center">Mars Hemispheres</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 h_line">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ mars_listings1.mars_images.img_url1 }}">
                <p align="left">{{mars_listings1.mars_images.title1}}</p>
            </div>
            <div class="col-md-6">
                <img src="{{ mars_listings1.mars_images.img_url2 }}">
                <p align="left">{{mars_listings1.mars_images.title2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ mars_listings1.mars_images.img_url3 }}">
                <p align="left">{{mars_listings1.mars_images.title3}}</p>
            </div>
            <div class="col-md-6">
                <img src="{{ mars_listings1.mars_images.img_url4 }}">
                <p align="left">{{mars_listings1.mars_images.title4}}</p>
            </div>
        </div>
    </section>

  
</body>

</html>